body {
    font-family: "Poppins", sans-serif;
    background: #f8f9fa;
    color: #222;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


header {
    height: 100vh;
    background: linear-gradient(to bottom right, #7b2cbf, #5a189a);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 60px !important;
}

header h1 {
    font-weight: 700;
}

header p {
    font-size: 18px;
    opacity: 0.9;
}

header .btn-primary {
    background: #2ecc71;
    border: none;
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 30px;
    transition: 0.3s;
}

header .btn-primary:hover {
    background: #27ae60;
}


.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #7b2cbf;
    margin-bottom: 10px;
}



nav.navbar {
    background: #5a189a !important;
}

.navbar-brand,
.nav-link {
    color: white !important;
    font-weight: 500;
}

.nav-link:hover {
    color: #2ecc71 !important;
}


h2 {
    color: #5a189a;
    border-left: 8px solid #2ecc71;
    padding-left: 10px;
    margin-bottom: 20px;
    font-weight: 600;
}


.info-card {
    background: white !important;
    border-radius: 12px;
    border: 1px solid #ddd;
    padding: 22px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 3px 8px rgba(0,0,0,0.05);
}

.info-card:hover {
    transform: translateY(-5px);
    border-color: #7b2cbf;
}

.icon {
    font-size: 32px;
    color: #7b2cbf;
    margin-bottom: 6px;
}



.progress {
    background: #eaeaea;
    height: 12px;
    border-radius: 20px;
}

.progress-bar {
    background: #7b2cbf;
    border-radius: 20px;
    font-size: 12px;
    transition: width 1.2s ease-in-out;
}


ul li {
    margin-bottom: 8px;
}

hr {
    border: none;
    height: 1px;
    background: #c9c9c9;
    margin: 40px 0;
}